<h1 class="titel">TODO bearbeiten</h1>
<hr>

<form action="/note/{{note._id}}" method='post'>
    <div class="grid-edit-note">
        <label class="grid-element input-description " for="title">Titel</label>
        <input class="grid-element" name='title' value="{{note.title}}" required>
        <label class="grid-element input-description" for="description">Beschreibung</label>
        <textarea class="grid-element" name='description' rows="3" required>{{note.description}}</textarea>
        <label class="grid-element input-description" for="importance">Wichtigkeit</label>
        <input class="grid-element" type="number" name='importance' min="1" max="5" value="{{note.importance}}" required>
        <label class="grid-element input-description" for="until">Fertig bis</label>
        <input class="grid-element" type='date' name='dueDate' value="{{note.dueDate}}" required>
        <label class="grid-element input-description" for="done">Erledigt!</label>
        <input class="grid-element" name="done" type="checkbox" {{#if note.done}}checked{{/if}}>
    </div>
    <div class="form-holder">
        <input class="button button-edit-note" type='submit' value='Speichern'>
    </div>
</form>
<form action='/' method='get' class="form-holder">
    <input class="button button-edit-note" type='submit' value='Abbrechen' formnovalidate>
</form>